.header {
  background-color: var(--green-ligth);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

nav > a {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 2.5rem;
}
.header__menu__mobile {
  height: 40px;
  width: 40px;
  display: none;
}
.header__menu__mobile > button {
  width: 100%;
  height: 100%;
  background-color: var(--white);
}

.header__right {
  display:flex;
  align-items: center;
}

.header__right li {
  margin-right: 2.5rem;
}

.header__right a {
  color: var(--green-dark);
  font-weight: 700;
}

.header__right .header--sign_up {
  margin-right: 0;
}

.header--sign_up > a {
  padding: 0.25rem 1rem;
  line-height: 1.5;
  border:solid 2px;
  position: relative;
  display: inline-block;
  font-weight: 700;
  border-width: 2px;
}

.sign-up {
  color: var(--green-dark);
  background-color: transparent;
}
.sign-up:before {
  display: none;
  content: "";
  position: absolute;
  background-color: transparent;
  top:-2px;
  right: -2px;
  bottom: -2px;
  left:-2px;
  transform: translate3d(-5px, 5px,0);
  transform-style: preserve-3d;
}
.sign-up:hover:before {
  display: block;
}

.sign-up:hover {
  transform: translate3d(5px, -5px, 0);
  color:var(--green-dark);
  box-shadow: -5px 5px var(--green-dark);
  border: 2px solid var(--green-dark);
}

.mobile-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  top:82px;
  opacity: 0.1;
  padding: 1.5rem;
  background-color: var(--green-ligth);
  width: 100%;
  z-index: 10;
  transition: .3s ease-in-out .3s;
  display: none;
}

.mobile-nav--main li a{
  display: block;
  color:var(--green-dark);
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
}
.mobile-nav--main .mobile-nav--button {
  position: relative;
  display: inline-block;
  padding: 1rem;
  border-width: 0;
  background-image: linear-gradient(90deg,#00ab6a,#23ea76);
  color:black;
  text-align: center;
}

.mobile-nav--main li {
  opacity: 0;
  transform: translateY(10px);
  transition: .15s ease-in-out;
  will-change: opacity, transform;
}

.menu-visible .mobile-nav--main li {
  opacity: 1;
  transform: translateY(0);
  transition: .55s cubic-bezier(0.645, 0.45, 0.355, 1);
}

.menu-visible .mobile-nav--main li:first-of-type {
  transition-delay: .3s;
}
.menu-visible .mobile-nav--main li:nth-of-type(2) {
  transition-delay: .4s;
}
.menu-visible .mobile-nav--main li:nth-of-type(3) {
  transition-delay: .5s;
}
.menu-visible .mobile-nav--main li:nth-of-type(4) {
  transition-delay: .6s;
}
.menu-visible .mobile-nav--main li:nth-of-type(5) {
  transition-delay: .7s;
}
.menu-visible .mobile-nav--main li:nth-of-type(6) {
  transition-delay: .8s;
}
.menu-visible .mobile-nav--main li:nth-of-type(7) {
  transition-delay: .9s;
}


@media (width <800px) {
  .header__right {
    display: none
  }
  .header__menu__mobile {
    display: block;
  }
  .menu-image {
    fill: var(--green);
  }
  .header {
    background-color: var(--white);
  }
  .mobile-nav {
    display: block;
  }
  .menu-visible {
    opacity: 1;
  }
}